<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热榜</title>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="js/hexpand/css/style.css" rel="stylesheet" />
    <link href="js/swiper/css/swiper.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/rebang.css" rel="stylesheet" />
    <script type="text/javascript" src="js/hexpand/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" src="js/page/rebang.js"></script>
</head>
<body>
    <div class="row c-header" style="padding:18px 0 18px 0;">
        <div class="container">
            <div class="col-xs-10 c-nav">
                <div class="col-xs-2 no-padding" style="line-height:160px;">
                    <img src="images/logo.jpg" width="160" height="160" />
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="index">首页</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rebang" class="colorfff">热榜</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rencai">人才</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="zhiwei">职位</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="siyuzuoye">私域</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="images/banner2.jpg" width="100%" />
    </div>
    <div class="row" style="background-color:#f4f4f4;">
        <div class="container">
            <div class="col-sm-12 banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/rebang1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/rebang2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/rebang3.jpg" />
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="col-sm-12 rebang-info">
                <div class="col-sm-2 text-center rebang-logo">
                    <img src="images/rebang-logo.jpg" />
                </div>
                <div class="col-sm-10 rebang-jieshao">
                    <h5>你好大海品牌设计</h5>
                    <p><span>平面设计师</span>&nbsp;&nbsp;【一度茶】品牌设计。除了爱，什么都不添加。<label id="data"></label></p>
                </div>
            </div>
            <div class="col-sm-12 rebang-list m-t-sm">

                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>