<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>人才</title>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="js/hexpand/css/style.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/rencai.css" rel="stylesheet" />
    <script type="text/javascript" src="js/hexpand/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#f4f4f4;">
    <div class="row c-header" style="padding:18px 0 18px 0;">
        <div class="container">
            <div class="col-xs-10 c-nav">
                <div class="col-xs-2 no-padding" style="line-height:160px;">
                    <img src="images/logo.jpg" width="160" height="160" />
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="index">首页</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rebang">热榜</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rencai" class="colorfff">人才</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="zhiwei">职位</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="siyuzuoye">私域</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container rencai-list">
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai1.png" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>UNIdesign</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>66</i></span><span class="col-sm-5 no-padding">人气：<i>888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai2.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>美工头</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：全店策划
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin2.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai3.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>大施</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin3.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai1.png" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>UNIdesign</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>66</i></span><span class="col-sm-5 no-padding">人气：<i>888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai2.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>美工头</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：全店策划
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin2.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai3.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>大施</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin3.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai1.png" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>UNIdesign</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>66</i></span><span class="col-sm-5 no-padding">人气：<i>888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai2.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>美工头</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：全店策划
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin2.jpg" />
                </div>
            </div>
            <div class="col-sm-12 rencai-list-item no-borders">
                <div class="col-sm-2 no-padding rencai-touxiang">
                    <img src="images/rencai3.jpg" width="100%" />
                </div>
                <div class="col-sm-4 rencai-info">
                    <div class="col-sm-12 rencai-name">
                        <h5>大施</h5>
                    </div>
                    <div class="col-sm-12 rencai-dizhi">
                        <i><img src="images/mao.png" /></i>&nbsp;福建·石狮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅长：首页设计
                    </div>
                    <div class="col-sm-12 rencai-fen">
                        <span class="col-sm-5 no-padding">粉丝：<i>666</i></span><span class="col-sm-5 no-padding">人气：<i>8888</i></span>
                    </div>
                    <div class="col-sm-12 no-padding rencai-btn m-t-xl">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-warning">加关注</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-w-m btn-default">发私信</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rencai-zuopin no-padding">
                    <img src="images/rencai-zuopin3.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="row c-pager">
        <div class="container">
            <div class="btn-group">
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-white active">1</button>
                <button class="btn btn-white ">2</button>
                <button class="btn btn-white">3</button>
                <button class="btn btn-white">4</button>
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row qrcode text-center">
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">QQ群</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">公众号</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
    </div>
</body>
</html>