<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>私域-作业</title>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="js/hexpand/css/style.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/siyu.css" rel="stylesheet" />
    <script type="text/javascript" src="js/hexpand/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#f4f4f4;">
    <div class="row c-header" style="padding:18px 0 18px 0;">
        <div class="container">
            <div class="col-xs-10 c-nav">
                <div class="col-xs-2 no-padding" style="line-height:160px;">
                    <img src="images/logo.jpg" width="160" height="160" />
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="index">首页</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rebang">热榜</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rencai">人才</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="zhiwei">职位</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="siyuzuoye" class="colorfff">私域</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row ziliao">
        <div class="container">
            <div class="col-sm-12">
                <div class="ziliao-touxiang">
                    <img src="images/siyu-touxiang.png" />
                </div>
            </div>
            <div class="col-sm-12 text-center ziliao-name">
                <h5>叶良辰</h5>
            </div>
            <div class="col-sm-12 text-center ziliao-bianji">
                <a href="#">编辑我的资料</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container siyu-nav text-center">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <a href="siyuzuoye" class="color000">作业</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuzuopin">作品</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuguanzhu">关注</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuyaoqing">邀请</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container zuoye-list">
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><a href="siyutijiao" class="btn btn-w-m btn-warning pull-right">立即开始</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》通道抠图(毛发)</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-07</span><a href="siyutijiao" class="btn btn-w-m btn-danger pull-right">继续完成</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><button type="button" class="btn btn-w-m btn-default pull-right">已完成</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><button type="button" class="btn btn-w-m btn-success pull-right">重做</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><button type="button" class="btn btn-w-m btn-warning pull-right">立即开始</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》通道抠图(毛发)</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-07</span><button type="button" class="btn btn-w-m btn-danger pull-right">继续完成</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><button type="button" class="btn btn-w-m btn-default pull-right">已完成</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 zuoye-list-item no-borders">
                <div class="col-sm-4">
                    <img src="images/zuoye1.jpg" width="100%" />
                </div>
                <div class="col-sm-8 zuoye-info no-padding" style="position:relative;">
                    <div class="col-sm-12 zuoye-title">
                        <h5>第一阶段《软件基础》钢笔抠图</h5>
                    </div>
                    <div class="col-sm-12 zuoye-miaoshu">
                        <p>
                            抠图的方法有很多，比如快速选择工具，但是它有一个缺点就是在扣不规则图形的
                            时候图片边缘会有像毛刺一样的东西，影响美观。而我们使用钢笔工具就不会了。
                        </p>
                    </div>
                    <div class="col-sm-12 zuoye-riqi" style="position:absolute;bottom:0;">
                        <span>2018-05-06</span><button type="button" class="btn btn-w-m btn-success pull-right">重做</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row c-pager">
        <div class="container">
            <div class="btn-group">
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-white active">1</button>
                <button class="btn btn-white ">2</button>
                <button class="btn btn-white">3</button>
                <button class="btn btn-white">4</button>
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row qrcode text-center">
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">QQ群</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">公众号</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
    </div>
</body>
</html>