<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>私域-关注</title>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="js/hexpand/css/style.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/siyu.css" rel="stylesheet" />
    <link href="css/rebang.css" rel="stylesheet" />
    <script type="text/javascript" src="js/hexpand/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#f4f4f4;">
    <div class="row c-header" style="padding:18px 0 18px 0;">
        <div class="container">
            <div class="col-xs-10 c-nav">
                <div class="col-xs-2 no-padding" style="line-height:160px;">
                    <img src="images/logo.jpg" width="160" height="160" />
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="index">首页</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rebang">热榜</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rencai">人才</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="zhiwei">职位</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="siyuzuoye" class="colorfff">私域</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row ziliao">
        <div class="container">
            <div class="col-sm-12">
                <div class="ziliao-touxiang">
                    <img src="images/siyu-touxiang.png" />
                </div>
            </div>
            <div class="col-sm-12 text-center ziliao-name">
                <h5>叶良辰</h5>
            </div>
            <div class="col-sm-12 text-center ziliao-bianji">
                <a href="#">编辑我的资料</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container siyu-nav text-center">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <a href="siyuzuoye">作业</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuzuopin">作品</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuguanzhu" class="color000">关注</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuyaoqing">邀请</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container no-padding">
            <div class="col-sm-12 rebang-list m-t-sm" style="padding-bottom:30px;">
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-t-lg">
                    <div class="col-sm-12 no-padding rebang-item">
                        <div class="col-sm-12 no-padding">
                            <a href="#"><img src="images/rebang-list1.jpg" width="100%" height="336" /></a>
                        </div>
                        <h5 class="col-sm-12 rebang-list-title no-padding"><a href="#">渔夫帽详情页</a></h5>
                        <div class="col-sm-12 rebang-list-huoyue">
                            <span class="col-sm-4"><i><img src="images/yanjing.png" width="20" /></i>&nbsp;1705</span>
                            <span class="col-sm-3"><img src="images/xinxi.png" width="20" /></i>&nbsp;1</span>
                            <span class="col-sm-3"><img src="images/xin.png" width="20" /></i>&nbsp;56</span>
                        </div>
                        <div class="col-sm-12 rebang-list-jieshao">
                            香蕉先生（原创 - 详情页设计）
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row c-pager">
        <div class="container">
            <div class="btn-group">
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-white active">1</button>
                <button class="btn btn-white ">2</button>
                <button class="btn btn-white">3</button>
                <button class="btn btn-white">4</button>
                <button type="button" class="btn btn-white">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row qrcode text-center">
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">QQ群</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 qr-text">公众号</div>
            <div class="col-sm-12">
                <img src="images/qr1.jpg" />
            </div>
        </div>
    </div>
</body>
</html>