<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>私域-关注</title>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="js/hexpand/css/style.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/siyu.css" rel="stylesheet" />
    <link href="js/webuploader/css/webuploader.css" rel="stylesheet" />
    <link href="js/webuploader/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="js/hexpand/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/page/siyutijiao.js"></script>
</head>
<body style="background-color:#f4f4f4;">
    <div class="row c-header" style="padding:18px 0 18px 0;">
        <div class="container">
            <div class="col-xs-10 c-nav">
                <div class="col-xs-2 no-padding" style="line-height:160px;">
                    <img src="images/logo.jpg" width="160" height="160" />
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="index">首页</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rebang">热榜</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="rencai">人才</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="zhiwei">职位</a>
                </div>
                <div class="col-xs-2 no-padding text-center">
                    <a href="siyuzuoye" class="colorfff">私域</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row ziliao">
        <div class="container">
            <div class="col-sm-12">
                <div class="ziliao-touxiang">
                    <img src="images/siyu-touxiang.png" />
                </div>
            </div>
            <div class="col-sm-12 text-center ziliao-name">
                <h5>叶良辰</h5>
            </div>
            <div class="col-sm-12 text-center ziliao-bianji">
                <a href="#">编辑我的资料</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container siyu-nav text-center">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <a href="siyuzuoye" class="color000">作业</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuzuopin">作品</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuguanzhu">关注</a>
                </div>
                <div class="col-sm-3">
                    <a href="siyuyaoqing">邀请</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="container">
            <div class="col-sm-12 biaodan">
                <div class="col-sm-12">
                    <h5>第一阶段《软件基础》钢笔抠图</h5>
                </div>
                <div class="col-sm-12 biaodan-jieshao">
                    <p>
                        课程回顾：本周我们学会构成篇的内容，通过课程的学习，第一，我们清晰的明白了广告想需要让用户点击，我们就得
                        把我们最好的卖点展示给消费者。一个广告最好的卖点到底是什么？这个问题非常值得我们去思考。所以在做图之前，我们
                        必须思考我们的卖点到底在哪里？第二，广告的内容我们了解了，什么是产品类广告，什么是促销类广告，产品类的广告主
                        要目的就是展示产品卖点。促销类广告就是展示给消费者的利益。那我们在做图的时候，要明白我们的广告到底是哪种类型
                        ，是产品展示类还是促销类？再利用我们的9种构成进行相应的给出构成方案。第三，我们重点学习在9种构成应用上，在
                        应用的时候，一定要明白这些构成方式的主体位置，比例关系和文字对齐关系，摆放的位置、比例大小等。
                    </p>
                    <p>
                        只有真正掌握这些的关系，一般广告图我们都能得心应手，随机应变。在主动学习方面给大家的建议，多收集、对比参
                        考同行的方案，分析同行及同学错误作业的不合理性，同时自己拿出修改调整方案。这样的学习会让大家迅速的进步。（这
                        种方法我们称为反馈学习法）
                    </p>
                </div>
                <div class="col-sm-12 biaodan-sikao">
                    <h5>作业前思考</h5>
                </div>
                <div class="col-sm-12 biaodan-sikao-title">
                    1、今天的任务什么类型广告 是产品展示类广告还是促销类广告？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="产品展示" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    2、那我今天的广告的卖点到底是什么？我该怎么展示给消费者？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="该产品特点是很独特的绣花图案，展示给一个特写。" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    3、那我从9种构成方式当中，应该选择哪种方案最合理呢？
                </div>
                <div class="col-sm-12 biaodan-el" style="border-bottom:1px solid #f4f4f4;padding-bottom:30px;">
                    <input type="text" placeholder="上字型和H型都合适，最合适的是上字型。" />
                </div>
                <div class="col-sm-12 m-t-xl">
                    <h5>作业任务</h5>
                </div>
                <div class="col-sm-12 biaodan-jieshao" style="border-bottom:1px solid #f4f4f4;padding-bottom:30px;">
                    <p style="text-indent:0px;line-height:28px;">
                        作业任务：9张作业<br />
                        作业规格：1920X900px<br />
                        作业素材：<br />
                        作业要求：cr2原片格式必须学会导片，调色，修片，抠图，学会最基本的智能对象的链接方式，每个作业的比例关系、文
                        字关系必须标准、白底图分层格式。（让大家把新旧知识建立连接学习）。<br /><br />

                        考核标准：<br />
                        作业完成80%以上的合格作业算完成任务<br />
                        作业完成80%以下的同学，在规定时间内没完成可以做出作业请假。请作业假最长时间不得超过3天，同时把作业补完。<br />
                        如果未请假或未成完任务的同学，下期课程继续重学。<br />
                    </p>
                </div>
                <div class="col-sm-12 m-t-xl">
                    <h5>作业任务</h5>
                </div>
                <div class="col-sm-12" style="padding:0 0 30px 0;border-bottom:1px solid #f4f4f4;">
                    <div id="wrapper" style="background:none;">
                        <div id="container">
                            <!--头部，相册选择和格式选择-->
                            <div id="uploader">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="filePicker"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div><div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 biaodan-sikao">
                    <h5>作业自检</h5>
                </div>
                <div class="col-sm-12 biaodan-sikao-title">
                    1.我是在帮消费者做他特别想做的事情吗？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="产品展示" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    2.消费者对现状真的有什么不满吗？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="该产品特点是很独特的绣花图案，展示给一个特写。" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    3.消费者愿意为不满做出改变吗？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="上字型和H型都合适，最合适的是上字型。" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    4.消费者如果愿意做出改变，你的方案是首选吗？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="产品展示" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    5.消费者要选择你的方案，会存在巨大的风险吗？
                </div>
                <div class="col-sm-12 biaodan-el">
                    <input type="text" placeholder="该产品特点是很独特的绣花图案，展示给一个特写。" />
                </div>
                <div class="col-sm-12 biaodan-sikao-title m-t-md">
                    6.当消费者真的选择你的方案，那你的方案能扬长避短吗？
                </div>
                <div class="col-sm-12 biaodan-el" style="padding-bottom:30px;">
                    <input type="text" placeholder="上字型和H型都合适，最合适的是上字型。" />
                </div>
                <div class="col-sm-12 m-t-xl">
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-w-m btn-danger btn-lg">提交</button>
                    </div>
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-w-m btn-warning btn-lg"">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/webuploader/js/webuploader.js"></script>
    <script type="text/javascript" src="js/webuploader/js/upload.js"></script>
</body>
</html>